<body>

  <div class="animated slideInLeft" id="square">    
  <div class="animated bounceInUp" id="leftSquare">
    <div id="row">
      <div class="col-lg-8">
       <h1 class="title">Riverway</h1>
      </div>
        <i class="down fa fa-chevron-down" aria-hidden="true"></i>

        <i class="bell fa fa-bell-o fa-lg" aria-hidden="true"></i>
    </div>
    <div id="row">
      <div id="circle"></div>
      <h2 id="subtitle">maya</h2>
    </div>
    <div id="row">
      <h2 id="channels">CHANNELS<span id="light">(2)</span> <i class="add fa fa-plus-circle fa-inverse" aria-hidden="true"></i> </h2>
    </div>
    <div id="highlight-channel"></div>
       <div id="row">
      <h2 id="channel">#general</h2>
    </div>
    
    <div id="row">
      <h2 id="messages">DIRECT MESSAGES<span id="light">(1)</span> <i class="add-two fa fa-plus-circle fa-inverse"></i> </h2>
    </div>
    <div id="row">
      <div id="circle2"></div>
      <h2 id="subtitle2">maya</h2>
    </div>
       
 </div>
     
  
<div id="message-area-six">
   <div id="message-one">
    <div id="container">
      <div class="row">
        <div class="col-xs-6 col-md-3">
<a href="#" class="person-one thumbnail">
  <img class="person-img-one" src="https://c402277.ssl.cf1.rackcdn.com/photos/18315/images/hero_small/Medium_WW230176.jpg?1576168323">
</a>
        </div>
      </div>
    </div>
    <div id="container"> 
      <h4 id="person-name"> maya <span id="time">9:02 AM</span> </h4>
      <h5 id="person-text">
      
        Good Morning!
      
      </h5>
    </div>
   </div>
   
 </div>
<div id="bottom">
<input class="search-bottom" placeholder="Message #pens" type="text" />
<i class="smile fa fa-smile-o" aria-hidden="true"></i>
<h3 id="line-bottom"> | </h3>
<i class="plus fa fa-plus" aria-hidden="true"></i>
</div>

</div>
      

</body>

<router-outlet></router-outlet>
